{extend name="base" /} {block name="content"}

<div class="row">
    <table class="table table-hover table-bordered table-striped table-condensed">
        <thead>
            <th class="col-md-2">编号</th>
            <th class="col-md-8">分类名称</th>
            <th class="col-md-2">操作</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>常见漏洞</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">修改</a>
                            </li>
                            <li>
                                <a href="#">添加子类</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>常见漏洞</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">修改</a>
                            </li>
                            <li>
                                <a href="#">添加子类</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>常见漏洞</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">修改</a>
                            </li>
                            <li>
                                <a href="#">添加子类</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>常见漏洞</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">修改</a>
                            </li>
                            <li>
                                <a href="#">添加子类</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
{/block}