body{
    background-color: #232323;
    font-family: '微软雅黑';
    padding:20px;
}

ul{
    padding: 0px;
    margin: 0px;
    
}

ul li{
    list-style: none;
}

.blog-show{
    width: 1024px;
    margin: auto;
}

.header{
    height: 60px;
    clear: both;
    padding: 10px;

}

.header i{
    color: #00bebe;
}

.header ul li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
    width: 80px;
    border-right: 1px dotted #00bebe;
    text-align: center;
}

.header ul li a{
    text-decoration: none;
    color: #00bebe;
}

.desc{
    color: #efefef;
    line-height: 30px;
}

.search input{
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}


.arclist ul li{
    list-style-type: none;
    line-height: 30px;
    border-bottom: 1px dotted #efefef;
}

.arclist ul li a{
    text-decoration:none;
    color:#efefef;
    
}

.time{
    color:#bcbcbc;
    width: 50px;
    margin-right: 50px;
}


.content{
    padding-top:20px;
}

.article_content{
    border-radius: 10px;
    border:1px dotted #00bebe;
    margin-top:30px;
}

.title{
    color:#efefef;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.min-title{
    text-align: center;
}

.author,.sendtime,.readcount{
    color:#efefef;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 0px;
    border-right: 1px dotted #00bebe;
    /* border-left: 1px dotted #00bebe; */
}

.editormd-html-preview{
    background: #232323;
    color:#efefef;
}

.content-left{
    width: 800px;
    border:1px dashed #efefef;
    float: left;
    padding: 0px 25px 25px 25px;
}

.content-right{
    width: 200px;
    border:1px dashed #efefef;
    border-radius: 5px;
    float: right;
}

.index-title{
    font-family: "Comic Sans MS";
    font-size: 30px;
    margin:20px 0px;
    color:#00bebe;
}

.clear{
    clear: both;
}

.taglist{
    padding: 10px;

}



.taglist li{
    display: inline;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 5px;
    border-radius: 5px;
    background: #efefef
}
.taglist li a{
    color:#232323;
}

.taglist li a:hover{
    text-decoration: none;
    color:#990000;
}

.footer .copyright{
    float: left;
    color: #bcbcbc;
    font-size: 12px;
}

.footer .footer-link{
    float: right;
}

.footer .footer-link ul li{
    width: 80px;
    float: left;
    border-right: 1px solid #bcbcbc;
    text-align: center;
}

.footer .footer-link ul li a{
    color:#bcbcbc;
    font-size: 12px;
}

.linklist{
    padding:50px;
    border:1px dashed #efefef;
}

.linklist ul li{
    margin-bottom: 10px;
}

.linklist ul li a{
    color: #efefef;
}

.link-name{
    color:#00bebe;;
    width: 200px;
    font-family: 16px;
}