{extend name="index_base"/} {block name="content"}


<div class="blog-content-left">
    <p class="text-white">
        当前分类：|--
        <span class="text-light">{$curr_cate.cate_name}</span>
        <small class="text-right">共{$count}篇文章</small>
    </p>
    <hr>
    <div class="arclist">
        <ul>
            {volist name="arcdata" id="arc"}
            <li>
                <span class="time">{:date('Y/m/d H:i',$arc.sendtime)}</span>
                <a href="{:url('content',['arc_id'=>$arc.arc_id])}">{$arc.arc_title}</a>
            </li>
            {/volist}

        </ul>
    </div>
</div>

<div class="blog-content-right">
    <div class="sortlist">
        <ul>
            <li onclick="javascript:cateshow()">
                <a href="javascript:void(0)">{$curr_cate.cate_name}</a>
            </li>

            {volist name="cate_son" id="son"}
            <li>
                <a href="{:url('category',['cate_id'=>$son.cate_id])}">{$son.cate_name}</a>
            </li>
            {/volist}

        </ul>
    </div>
</div>

{/block}