{extend name="index_base" /} {block name="content"}
<div class="blog-function">
    <div class="func">
        <a href="javascript:history.back()" id="back">返回</a>
        <hr>
        <a href="javascript:scrolltop()">回到顶部</a>
        <hr>
        <a href="javascript:void(0)">分享
            <span>
                <div class="bdsharebuttonbox">
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
                <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["tsina", "qzone", "youdao", "renren", "weixin", "sqq"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["tsina", "qzone", "youdao", "renren", "weixin", "sqq"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    </div>
</div>


<div class="article-header">
    <div class="title">{$arcdata.arc_title}</div>
    <div class="min-title">
        <span class="author">作者：{$arcdata.arc_author}</span>
        <span class="sendtime">{:date('Y/m/d H:i',$arcdata.sendtime)}</span>
        <span class="readcount">阅读：{$arcdata.arc_click}</span>

        <p>
            {volist name="tag" id="tagd"}
            <a href="{:url('tag',['tag_id'=>$tagd.tag_id])}">
                <span class="label label-success">{$tagd.tag_name}</span>
            </a>
            {/volist}

        </p>
    </div>
</div>

<div class="article-content">
    <div id="editormd">
        <textarea hidden>{$arcdata.arc_content}</textarea>
    </div>
</div>

<div class="index-title">Comment：</div>

<div class="comment">
    <div class="new-comment">
        <form class="form-horizontal" id="form-comment">
            <div class="form-group">
                <span class="label-control col-md-2">用户名：</span>
                <div class="col-md-5">
                    <input type="text" placeholder="用户名" class="form-control" name="comment_nickname" id="">
                </div>

            </div>
            <div class="form-group">
                <span class="label-control col-md-2">邮箱：</span>
                <div class="col-md-5">
                    <input type="text" placeholder="邮箱" class="form-control " name="comment_email" id="">
                </div>

            </div>
            <div class="form-group">
                <span class="label-control col-md-2">评论内容：</span>
                <div class="col-md-10">
                    <textarea class="form-control input-comment" name="comment_content" placeholder="评论内容..." rows="3"></textarea>
                </div>
            </div>
            <input type="hidden" name="arc_id" value="{$arcdata.arc_id}">
            <div class="form-group">
                <div class="col-md-offset-2 submit-comment">
                    <!-- <input type="submit" class="btn btn-success" value="发表评论"> -->
                    <a class="btn btn-success" href="javascript:subcomment()">发表评论</a>
                </div>

            </div>
        </form>

    </div>
    <hr>
    <div class="comment-detial">
        <ul>
            <li>
                <div class="user-info">
                    <div class="user-header"></div>
                    <div class="nickname">我爱吃火锅 :</div>
                </div>
                <div class="user-comment">
                    这是评论内容
                    <div class="reply">
                        <a href="#">回复</a>
                    </div>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>


<script>
    require(['hdjs'], function (hdjs) {
        hdjs.markdownToHTML("editormd", {
            htmlDecode: "style,script,iframe,php",
            emoji: true
        });
    });

    function scrolltop() {
        $('html, body').animate({ scrollTop: 0 }, 'fast');//带动画  
    }


    serializeObject = function (form) {
        var o = {};
        var a = form.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    function subcomment() {

        postdata = serializeObject($('#form-comment'));
        // $.ajax({
        //     type: 'POST',
        //     data: postdata,
        //     // data:{comment_nickname:'wangdaliang',comment_email:'123@qq.com',comment_content:'test123123123'},
        //     url: "{:url('comment')}",
        //     success: function (res) {

        //         if (res.code) {
        //             require(['hdjs'], function (hdjs) {
        //                 hdjs.message(res.message, res.url, 'success', res.wait, '')
        //             });
        //         } else {
        //             require(['hdjs'], function (hdjs) {
        //                 hdjs.message(res.message, res.url, 'error', res.wait, '')
        //             });
        //         }
        //     }
        // })


        $.post(
            "{:url('comment')}",postdata,
            
            function (res) {

                if (res.code) {
                    alert(1);
                    require(['hdjs'], function (hdjs) {
                        hdjs.message(res.message, res.url, 'success', res.wait)
                    });
                }
            }
        )
    }


</script> {/block}