{extend name="index_base" /} {block name="content"}

<div class="blog-content-left">
    <div class="index-title">Statement</div>
    <div class="desc">
        {$_webset.person_desc}
    </div>
    <div class="index-title">Search</div>
    <div class="search">
        <form action="{:url('search')}" method="post" method="post">
            <input type="text" name="keyword">
            <input type="submit" value="搜索" class="btn btn-success">
        </form>
    </div>
    <div class="index-title">Articles</div>
    <div class="arclist">

        <ul>
            {volist name="article" id="arc"}
            <li>
                <span class="time">{:date('Y M d',$arc.sendtime)}</span>
                <a href="{:url('content',['arc_id'=>$arc.arc_id])}">{$arc.arc_title}</a>
            </li>
            {/volist}
        </ul>

    </div>
</div>
<div class="blog-content-right">
    <div class="catelist">
        
        <ul>
            <li onclick="javascript:cateshow()">
                <a href="javascript:void(0)">文章分类</a>
            </li>
            {volist name="_cate" id="ca"}
            <li>
                <a href="{:url('category',['cate_id'=>$ca.cate_id])}">{$ca.cate_name}</a>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="taglist">
        <ul>
            <li>
                <a class="tag-title" href="javascript:void(0)">标签</a>
            </li>
            {volist name="_tag" id="tag"}
            <li>
                <a href="{:url('tag',['tag_id'=>$tag.tag_id])}">{$tag.tag_name}</a>
            </li>

            {/volist}
            <div class="clear"></div>
        </ul>

    </div>
</div>



<div class="clear"></div>

<script>
    function cateshow() {
        $(".catelist ul li:first").nextAll("li").slideToggle();
    }

    require(['hdjs'],function(hdjs){
        $(function(){
            $.ajax({
                type:'get',
                url:'{:url("index/Index/loadweather")}',
                success:function(data){
                    alert(data.status);
                },
                dataType:'json',
            })
        })
    })
</script> {/block}