{extend name="index_base" /} {block name="content"}

<div class="blog-content-left">
    <div class="index-title">Statement</div>
    <div class="desc">
        {$_webset.person_desc}
    </div>
    <div class="index-title">Search</div>
    <div class="search">
        <form action="{:url('search')}" method="post" class="form-inline">
            <div class="form-group">
                <input type="text" name="keyword" class="form-control input-sm">
            </div>
            <input type="submit" value=" 搜 索 " class="btn btn-success btn-sm">
        </form>
    </div>
    <div class="index-title">Articles</div>
    <div class="arclist">

        <ul>
            {volist name="article" id="arc"}
            <li>
                <span class="time">{:date('Y-m-d',$arc.sendtime)}</span>
                <a href="{:url('content',['arc_id'=>$arc.arc_id])}">{$arc.arc_title}</a>
            </li>
            {/volist}
        </ul>

    </div>
</div>
<div class="blog-content-right">
    <div class="sortlist">

        <ul>
            <li>
                <a href="{:url('index/Index/year')}">归档</a>
            </li>
            {volist name="_date" id="da"}
            <li>
                <a href="{:url('index/Index/year',['date'=>$da.year])}">{$da.year}</a>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="taglist">
        <ul>
            <li>
                <a class="tag-title" href="javascript:void(0)">标签</a>
            </li>
            {volist name="_tag" id="tag"}
            <li>
                <a href="{:url('tag',['tag_id'=>$tag.tag_id])}">{$tag.tag_name}</a>
            </li>

            {/volist}
            <div class="clear"></div>
        </ul>

    </div>
</div>



<div class="clear"></div>

{/block}