{extend name="index_base" /} {block name="content"}

<p class="text-center text-white">
    {volist name="_tag" id="tag"}
    <a href="{:url('tag',['tag_id'=>$tag.tag_id])}">
        {if condition="input('param.tag_id') eq $tag.tag_id"}
        <span class="label label-success">{$tag.tag_name}</span>
        {else}
        <span class="label label-info">{$tag.tag_name}</span>
        {/if}
    </a>
    {/volist}
    <br>
    <br>
    <small>共{$count}篇文章</small>
</p>

<hr>
<div class="arclist">

    <ul>
        {volist name="arcdata" id="arc"}
        <li>
            <span class="time">{:date('Y/m/d H:i',$arc.sendtime)}</span>
            <a href="{:url('content',['arc_id'=>$arc.arc_id])}">{$arc.arc_title}</a>
        </li>
        {/volist}

    </ul>
    {$arcdata->render()}
</div>



{/block}