<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{if condition="isset($title)"}{$title}{/if}--[{$_webset.blog_title}]</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link media="(max-width:800px)" rel="stylesheet" href="__STATIC__/css/mobile.css">
    <link media="(min-width:800px)" rel="stylesheet" href="__STATIC__/css/desktop.css">
    {block name="css"}{/block}

</head>

<body>
    <!-- <div hd-cloak> -->
    <div class="blog-show">
        <div class="mobile-menu">
            <ul>
                <li>
                    <i class="fa fa-shield fa-2x"></i>
                </li>
                <li><a href="/">首页</a></li>
                <li><a id="getCate">分类</a></li>
                <li><a id="getSort">归档</a></li>
                <li><a id="getTag">标签</a></li>
            </ul>
        </div>
        <div class="blog-header" id="index_cate">
            <ul>
                <li>
                    <i class="fa fa-shield fa-2x"></i>
                </li>
                <li>
                    <a href="{:url('index')}">首页</a>
                </li>
                {volist name="_cate" id="category"}
                <li>
                    <a href="{:url('category',['cate_id'=>$category.cate_id])}">{$category.cate_name}</a>
                </li>
                {/volist}

            </ul>
            <div class="blog-title">{$_webset.blog_title}</div>
            <div class="clear"></div>

        </div>

        <div class="blog-header" id="sort_arc">
            <ul>
                <li>
                    <a href="{:url('index/Index/year')}">所有归档</a>
                </li>
                {volist name="_date" id="da"}
                <li>
                    <a href="{:url('index/Index/year',['date'=>$da.year])}">{$da.year}</a>
                </li>
                {/volist}
            </ul>
        </div>

        <div class="blog-header" id="tag_arc">
            <ul>
                {volist name="_tag" id="tag"}
                <li>
                    <a href="{:url('tag',['tag_id'=>$tag.tag_id])}">{$tag.tag_name}</a>
                </li>

                {/volist}
            </ul>
        </div>

        <hr class="blog-hr">
        <div hd-cloak>
            <div class="blog-content">
                {block name="content"} {/block}
            </div>
        </div>
        <hr>
        <div class="blog-footer">
            <div class="copyright">
                {$_webset.copyright}
            </div>
            <div class="blog-footer-link">
                <ul>
                    <li>
                        <a href="{:url('link')}">友情链接</a>
                    </li>
                    <li>
                        <a href="mailto:{$_webset.email}">邮箱</a>
                    </li>
                    <li>
                        <a href="{$_webset.weibo}" target="_blank">微博</a>
                    </li>

                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</body>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/bootstrap/bootstrap.min.js"></script>
{block name="javascript"}{/block}

<script>

    window.onload=function() {
        $('#getCate').click(function () {
            $('#sort_arc').hide();
            $('#tag_arc').hide();
            $('#index_cate').toggle(300);
        })

        $('#getSort').click(function () {
            $('#index_cate').hide();
            $('#tag_arc').hide();
            $('#sort_arc').toggle(300);
        })

        $('#getTag').click(function () {
            $('#index_cate').hide();
            $('#sort_arc').hide();
            $('#tag_arc').toggle(300);
        })

    }
</script>

</html>