<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{if condition="isset($title)"}{$title}{/if}--[{$_webset.blog_title}]</title>
    <script>
        window.hdjs = {};
        //组件目录必须绝对路径(在网站根目录时不用设置)
        window.hdjs.base = '__STATIC__/node_modules/hdjs';
        //上传文件后台地址
        //window.hdjs.uploader = 'test/php/uploader.php?';
        window.hdjs.uploader = '{:url("admin/article/upload")}';
        //获取文件列表的后台地址
        window.hdjs.filesLists = '{:url("admin/article/filelist")}?';
    </script>

    <script src="__STATIC__/node_modules/hdjs/static/requirejs/require.js"></script>
    <script src="__STATIC__/node_modules/hdjs/static/requirejs/config.js"></script>
    <link rel="stylesheet" href="__STATIC__/node_modules/hdjs/dist/hdjs.css">

</head>

<body>
    <!-- <div hd-cloak> -->
        <div class="blog-show">
            <div class="blog-header">
                <ul>
                    <li> <i class="fa fa-shield fa-2x"></i></li>
                    <li>
                        <a href="{:url('index')}">首页</a>
                    </li>
                    {volist name="_cate" id="category"}
                    <li>
                        <a href="{:url('category',['cate_id'=>$category.cate_id])}">{$category.cate_name}</a>
                    </li>
                    {/volist}
                    <div class="clear"></div>
                </ul>
                <div class="blog-title">Daliang's Blog</div>
            </div>

            <hr>

            <div class="blog-content">
                {block name="content"} {/block}
            </div>
            <hr>
            <div class="blog-footer">
                <div class="copyright">
                    {$_webset.copyright}
                </div>
                <div class="blog-footer-link">
                    <ul>
                        <li>
                            <a href="{:url('link')}">友情链接</a>
                        </li>
                        <li>
                            <a href="mailto:{$_webset.email}">邮箱</a>
                        </li>
                        <li>
                            <a href="{$_webset.weibo}" target="_blank">微博</a>
                        </li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <!-- </div> -->
</body>

<link rel="stylesheet" href="__STATIC__/css/index.css">

</html>