{extend name="base" /} {block name="content"}

<div class="alert alert-info">
    添加标签
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li>
                <a href="{:url('admin/tag/index')}">标签首页</a>
            </li>
            <li class="active">
                <a href="{:url('admin/tag/store')}">创建标签</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">标签名称</label>
                        <div class="col-md-8">
                            <input type="text" name="tag_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="form-control col-md-12 btn-info" value="创建标签">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}