{extend name="base" /} {block name="content"}


<div class="alert alert-info">
    友链首页
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{:url('admin/link/index')}">友链首页</a>
            </li>
            <li>
                <a href="{:url('admin/link/store')}">添加友链</a>
            </li>
        </ul>
    </div>


    <div class="container-fluid">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="info">
                <th>编号</th>
                <th>友链名称</th>
                <th>操作</th>
            </tr>
            {volist name="datalink" id='link'}
            <tr>
                <td>{$link.link_id}</td>
                <td>{$link.link_name}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{:url('admin/link/edit',['link_id'=>$link.link_id])}">编辑</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="javascript:del({$link.link_id})">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/volist}
        </table>
        {$datalink->render()}
    </div>

</div>
<script>
    function del(link_id) {
        require(['hdjs'], function (hdjs) {
            hdjs.confirm('确定删除吗?', function () {
                location.href = '{:url("del")}'+'?link_id=' + link_id;
            })
        })
    }
</script>
{/block}