{extend name="base" /} {block name="content"}

<div class="alert alert-info">
    文章列表
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{:url('admin/article/index')}">文章管理</a>
            </li>
            <li>
                <a href="{:url('admin/article/mdstore')}">文章添加</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="info">
                <th>编号</th>
                <th>文章名称</th>
                <th>作者</th>
                <th class="col-md-1">排序</th>
                <th>所属分类</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            {volist name="data" id="article"}
            <tr>
                <td>{$article.arc_id}</td>
                <td>{$article.arc_title}</td>
                <td>{$article.arc_author}</td>
                <td>
                    <input type="number" value="{$article.arc_sort}" class="form-control"
                        onblur="changeSort(this,'{$article.arc_id}')" />
                </td>
                <td>{$article.cate_name}</td>
                <td>{:date('Y-m-d H:i:s',$article.sendtime)}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                {if condition="$article.arc_author='bd'"}
                                <a href="{:url('bdedit',['arc_id'=>$article.arc_id])}">编辑</a>
                                {else /}
                                <a href="{:url('mdedit',['arc_id'=>$article.arc_id])}">编辑</a>
                                {/if}
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="javascript:del({$article.arc_id})">删除到回收站</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/volist}
        </table>
        <div class="pull-right">
            {$data->render()}
        </div>
    </div>
</div>
<script>
    function del(arc_id) {
        require(['hdjs'], function (hdjs) {
            hdjs.confirm('确定删除到回收站吗?', function () {
                location.href = 'deltorecycle?arc_id=' + arc_id;
            })
        })
    }

    function changeSort(obj, arc_id) {
        value = $(obj).val();
        // alert(value);
        // alert(arc_id);
        $.post("{:url('changeSort')}", { arc_sort: value, arc_id: arc_id }, function (res) {
            // alert(res.code);
            if (res.code) {
                require(['hdjs'], function (hdjs) {
                    hdjs.message(res.msg, 'refresh', 'success', res.wait);
                });
            } else {
                require(['hdjs'], function (hdjs) {
                    hdjs.message(res.msg, 'back', 'error', res.wait);
                });
            }
        }, 'json');
    }
</script> {/block}