{extend name="base" /}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/editormd/css/editormd.min.css">
{/block}
{block name="content"}

<div class="alert alert-info">
    添加文章
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li>
                <a href="{:url('admin/article/index')}">文章管理</a>
            </li>
            <li class="active">
                <a href="{:url('admin/article/mdedit')}">文章编辑</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">文章标题</label>
                        <div class="col-md-10">
                            <input type="text" name="arc_title" value="{$oldArc.arc_title}" class="form-control">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11" id="md">
                            <div id="mdeditor">
                                <textarea name="arc_content" hidden>{$oldArc.arc_content}</textarea>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">文章排序</label>
                        <div class="col-md-4">
                            <input type="number" name="arc_sort" value="{$oldArc.arc_sort}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">所属分类</label>
                        <div class="col-md-10">
                            <select class="form-control" name="cate_id">
                                {volist name="catedata" id="vo"}
                                <option value="{$vo.cate_id}" {if condition="$vo.cate_id==$oldArc.cate_id" }
                                    selected{/if}>{$vo._cate_name} </option> {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">添加标签</label>
                        <div class="col-md-9">
                            <input type="text" id="arc_tag" class="form-control">
                        </div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-primary col-md-12" id="btn-add-tag" value="添加">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">标签</label>
                        <div class="col-md-10">
                            <div class="checkbox" id="tag_checkbox">
                                {volist name="tagdata" id="tag"}
                                <label>
                                    <input type="checkbox" {if condition="in_array($tag.tag_id,$tag_ids)" }checked{/if}
                                        name="tag[]" value="{$tag.tag_id}">{$tag.tag_name}</label>
                                {/volist}

                            </div>
                        </div>

                    </div>
                    <input type="hidden" name="arc_id" value="{$oldArc.arc_id}">
                    <input type="hidden" id="editor_type" name="editor_type" value="md">
                    <input type="hidden" id="arc_public" name="arc_public" value="{$oldArc.arc_public}">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <button class="form-control btn-info" onclick="return saveDarft()">保存草稿</button>
                        </div>
                        <div class="col-md-5">
                            <button class="form-control btn-danger" onclick="return publicArticle()">发布文章</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script src="__STATIC__/editormd/editormd.min.js"></script>
<script>
    var editor = editormd("mdeditor", {

        path: "__STATIC__/editormd/lib/",
        width: "100%",
        height: "640px",
        imageUpload: true,
        imageFormFormat: ["jpg", "png", "jpeg", "gif", "bmp", "webp"],
        imageUploadURL: "__PUBLIC__/admin.php/article/tp_upload",
    });



    function saveDarft() {
        $('#arc_public').val('0');
        return true;
    }

    function publicArticle() {
        $('#arc_public').val('1');
        return true;
    }


    $(function () {

        //添加标签

        $('#btn-add-tag').click(function () {
            if ($('#arc_tag').val().trim()) {
                $.ajax({
                    url: "{:url('admin/tag/storeByAjax')}",
                    type: 'post',
                    data: { 'tag_name': $('#arc_tag').val().trim() },
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data.valid == 1) {
                            $('#tag_checkbox').append('<label><input type="checkbox" name="tag[]" checked value="' + data.tagid + '">' + $('#arc_tag').val() + '</label>');
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        })
    })




</script>

{/block}