{extend name="base" /} {block name="content"}

<div class="alert alert-info">
    评论首页
</div>




<div class="panel panel-info">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{:url('admin/tag/index')}">评论列表</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="info">
                <th>编号</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            {volist name="commentdata" id='comment'}
            <tr>
                <td>{$comment.comment_id}</td>
                <td>{$comment.comment_nickname}</td>
                <td>{$comment.comment_email}</td>
                <td>{$comment.comment_content}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{:url('admin/comment/show',['comment_id'=>$comment.comment_id])}">查看</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="javascript:del({$comment.comment_id})">删除</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/volist}
        </table>
        {$commentdata->render()}
    </div>
</div>

<script>
    function del(tag_id) {
        require(['hdjs'], function (hdjs) {
            hdjs.confirm('确定删除吗?', function () {
                location.href = '{:url("del")}?comment_id=' + tag_id;
            })
        })
    }
</script> {/block}