{extend name="base" /} {block name="content"}

<div class="alert alert-info">
    评论详情
</div>




<div class="panel panel-info">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">评论编号</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{$comment.comment_id}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">用户昵称</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{$comment.comment_nickname}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">邮箱</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{$comment.comment_email}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">url</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{$comment.comment_url}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">评论内容</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{$comment.comment_content}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">评论时间</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{:date('Y-m-d H:i:s',$comment.create_time)}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">评论文章</label>
                            <div class="col-md-8">
                                {if condition="$comment.editor_type eq 'bd'"}
                                <p class="form-control-static"><a href="{:url('admin/article/bdedit',['arc_id'=>$comment.arc_id])}">{$comment.arc_title}</a></p>
                                {else /}
                                <p class="form-control-static"><a href="{:url('admin/article/mdedit',['arc_id'=>$comment.arc_id])}">{$comment.arc_title}</a></p>
                                {/if}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}